
<!--
   Author: W3layouts
   Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@ViewBag.title</title>
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/Content/Layout/css/style-starter.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,600,700&display=swap" rel="stylesheet">
    <link href="~/Content/UI/css/argon-design-system.min.css" rel="stylesheet" />

    <link href="~/Content/fontawesome-free-5.14.0-web/css/all.min.css" rel="stylesheet" />
    <script src="~/Scripts/angular.min.js"></script>
</head>
<body id="home" ng-app="">
    @Html.Action("Menu","View")

    <script src="~/Content/Layout/js/jquery-3.3.1.min.js"></script> <!-- Common jquery plugin -->
    <!--bootstrap working-->
    <script src="~/Content/Layout/js/bootstrap.min.js"></script>
    <!-- //bootstrap working-->
    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- disable body scroll which navbar is in active -->
    @RenderBody()

    <!-- grids block 4 -->
    <section class="w3l-grids-7">
        <div class="grids4-block">
            <div class="container">
                <div class="row">
                    <div class="column-text col-lg-6">
                        <h3 class="team-head">Thống kê</h3>
                        <p class="para text">
                            Với hơn 2 năm kinh nghiệm chúng tôi đã làm được những gì?
                        </p>
                        <div class="call-grids-w3">
                            <div class="grids-1 grids-effect-2">
                                <h4><a href="about.html" class="title-head">CV ứng viên</a></h4>
                                <p class="para">+12000 Cv được tạo lập từ ứng viên</p>
                            </div>
                            <div class="grids-1 grids-effect-2">
                                <h4><a href="about.html" class="title-head">Nhà tuyển dụng</a></h4>
                                <p class="para">+1000 nhà tuyển dụng đối tác</p>
                            </div>
                            <div class="grids-1 grids-effect-2">
                                <h4><a href="about.html" class="title-head">Liên kết</a></h4>
                                <p class="para">+11000 đơn tiếp nhận thành công. </p>
                            </div>
                            <div class="grids-1 grids-effect-2">
                                <h4><a href="about.html" class="title-head">Ứng viên</a></h4>
                                <p class="para">+10000 ứng viên tham gia </p>
                            </div>
                        </div>
                        <a href="#page" class="btn action-button mt-lg-5 mt-4 ">Khám phá</a>
                    </div>
                    <div class="col-lg-6">
                        <img src="~/Content/Layout/images/b2.png" alt="product" class="img-responsive ">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- grids block 4 -->

    <section class="w3l-clients">
        <div class="main-w3">
            <div class="container">
                <!-- main-slider -->
                <div class="main-titles-head">

                    <h3 class="header-name">
                        Các nhà tuyển dụng nói gì?
                    </h3>

                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6 hh14-text margin-bottom">
                        <div class="hh14-info">
                            <img src="~/Content/Layout/images/c1.jpg" alt="product" class="img-responsive ">
                            <p class="para mt-3">
                                Consectetur adipisicing Lorem ipsum dolor sit amet,elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                minim incididunt ut labore et dolore magna aliqua. Ut enim ad
                                minim.
                            </p>
                            <h4>Jack Willson</h4>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 hh14-text">
                        <div class="hh14-info">
                            <img src="~/Content/Layout/images/c2.jpg" alt="product" class="img-responsive ">
                            <p class="para mt-3">
                                Consectetur adipisicing Lorem ipsum dolor sit amet,elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                minim incididunt ut labore et dolore magna aliqua. Ut enim ad
                                minim.
                            </p>
                            <h4>Nike samson</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="w3l-footers-20">
        <div class="footers20">
            <div class="container">
                <h2>
                    <a class="footer-logo" href="index.html">
                        <span class="fa fa-line-chart mr-2" aria-hidden="true"></span>Hype
                    </a>
                </h2>
                <div class=" row">
                    <div class="grid-col col-lg-7 col-md-7">
                        <h3>Get latest updates and offers.</h3>
                        <div class="footer-subscribe mt-4">
                            <form action="#" method="post" class="input-button">
                                <input type="email" name="Your Email" class="form-control" placeholder="Your Email"
                                       required="">
                                <button class="btn footer-button btn-secondary action-button">
                                    Subscribe
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 footer-bottom-two">
                        <ul>
                            <li> <a href="contact.html" class="btn action-sub-button">Contact</a></li>
                            <li>
                                <a href="services.html" class="btn logo-button top-margin mt-md-3">Our Service</a>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="border-line-bottom"></div>
                <div class=" row">
                    <div class="grids-content col-lg-2 col-md-2 col-sm-6">
                        <h4>Company</h4>
                        <div class="footer-nav">
                            <a href="index.html" class="contact-para3">Home</a>
                            <a href="about.html" class="contact-para3">About</a>
                            <a href="services.html" class="contact-para3">Services</a>
                            <a href="blog.html" class="contact-para3">blog</a>
                            <a href="contact.html" class="contact-para3">Contact</a>
                        </div>

                    </div>
                    <div class="grids-content col-lg-3 col-md-3 col-sm-6">
                        <h4>Information</h4>
                        <a href="mailto:hello@example.com">
                            <p class="contact-text-sub contact-para3">hello@example.com</p>
                        </a>
                        <a href="tel:+7-800-999-800">
                            <p class="contact-text-sub contact-para3">+7-800-999-800</p>
                        </a>
                        <p class="contact-text-sub contact-para3">California, </p>
                        <p class="contact-text-sub contact-para3">75 West Rock, Maple Building</p>
                        <div class="buttons-teams">
                            <a href="#team"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                            <a href="#team"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                            <a href="#team"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7 col-12 copyright-grid ">
                        <p class="copy-footer-29">
                            © 2020 hype . All rights reserved | Design by <a href="https://w3layouts.com/" target="_blank"> W3Layouts</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
    </section>

    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fa fa-angle-up"></span>
    </button>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- /move top -->
</body>
</html>