@using AllWork1s.Models;
@model List<Employer>
@{
    ViewBag.Title = "AllEmployer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Action("Css","Home")
<section class="w3l-call-to-action_9">
    <div class="call-w3">
        <div class="container" style="max-width: 1500px">
            <div class=" main-cont-wthree-2">
                <div class="left-contect-calls text-center">
                    <div class="ui search">
                        <div class="ui icon input w-100">
                            <input class="prompt" type="text" placeholder="Từ khóa tên công ty...">
                            <i class="search icon"></i>
                        </div>
                        <div class="results"></div>
                    </div>
                    <h2>Các công ty hàng đầu</h2>
                    <div class="row mt-4">
                        <div class="logo-slider">
                            <div class="logo-slide-track">
                                @foreach (var item in Model.Where(n => n.employer_activate == true && n.employer_option == true && n.employer_version == 3).OrderByDescending(n => n.employer_datecreated).ToList())
                                {
                                    <div class="slide">
                                        <img src="~/Images/Employer/@item.employer_logo" alt="" style="height: 100px; width: 150px" />
                                    </div>
                                }
                                @foreach (var item in Model.Where(n => n.employer_activate == true && n.employer_option == true && n.employer_version == 3).OrderByDescending(n => n.employer_datecreated).ToList())
                                {
                                    <div class="slide">
                                        <img src="~/Images/Employer/@item.employer_logo" alt="" style="height: 100px; width: 150px" />
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="w3l-call-to-action_9">
    <div class="call-w3">
        <div class="container" style="max-width: 1500px">
            <div class=" main-cont-wthree-2">
                <div class="left-contect-calls text-center">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <br />
                                <center>
                                    <div class="ui selection dropdown" style="width: 300px; background-color: #fb9d2b">
                                        <input type="hidden" name="gender">
                                        <i class="dropdown icon"></i>
                                        <div class="default text" style="color: white">Tất cả nhà tuyển dụng</div>
                                        <div class="menu">
                                            <div class="item" data-value="1">Công ty hàng đầu</div>
                                            <div class="item" data-value="0">Công ty nổi bậc</div>
                                            <div class="item" data-value="0">Công ty khác</div>
                                        </div>
                                    </div>
                                </center>
                                <br />
                                <h2>Tất cả công ty hợp tác với AllWork1s</h2>
                                <div class="row" style="padding: 20px">
                                    @foreach (var item in Model.Where(n => n.employer_activate == true && n.employer_option == true).OrderByDescending(n => n.employer_datecreated).ToList())
                                    {
                                        <div class="col-lg-2 mt-2">
                                            <a href="@Url.Action("DetailEmployer","View", new { id = item.employer_id })">
                                                <img src="~/Images/Employer/@item.employer_logo" alt="" style="height: 150px; width: 100%" />
                                            </a>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $('.ui.dropdown')
        .dropdown()
        ;
</script>