<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Square login form Responsive Widget  Website Template | Home:: w3layouts</title>
    <!-- Custom Theme files -->
    <link href="~/Content/LayoytEmployer/Accout/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Custom Theme files -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Square login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <!--Google Fonts-->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!--Google Fonts-->
</head>
<body>
    <!--header start here-->
    <div class="login-form">
        <h1>ALLWORK1S<span style="font-size: 10px">Nhà tuyển dụng</span></h1>
        <div class="top-login">
            <span><a href="@Url.Action("Index","HomeEmployer")"><img src="~/Content/LayoytEmployer/Accout/images/group.png" alt="" /></a></span>
        </div>
        <h1>DĂNG NHẬP</h1>
        <div class="login-top">
            <form method="post">
                <div style="color: white; text-align: center">
                    @ViewBag.Check
                </div>
                <br />
                <div class="login-ic">
                    <i></i>
                    <input type="text" name="employer_email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" />
                    <div class="clear"> </div>
                </div>
                <div class="login-ic">
                    <i class="icon"></i>
                    <input type="password" name="employer_pass" value="Mật khẩu" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Mật khẩu';}" />
                    <div class="clear"> </div>
                </div>

                <div class="log-bwn">
                    <input type="submit" value="Đăng nhập">
                    <br />
                    <br />
                    <a href="#" style="color: white">Quên mật khẩu</a> <b style="color: white">|</b> <a href="@Url.Action("RegEmployer","Employer")" style="color: white">Đăng ký</a>
                </div>
            </form>
        </div>
    </div>
    <!--header start here-->
</body>
</html>
